.footer {
    background-color: #185ee0; /* Matches your primary color */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
