.footer {
    background-color: #185ee0;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer p {
    font-size: 3vh;
}

@media (min-width: 768px) {
    .footer {
        padding: 20px 0;
    }
}
